# Python
__pycache__/
.venv/
*.pyc

# CMake
build/
.cmake/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log
compile_commands.json  # или .js

# vcpkg
vcpkg_installed/
vcpkg-manifest-install

# Исполняемые
*.exe
*.out

# Временные
tempCodeRunnerFile.cpp
*.tmp

# IDE
.vscode/
.idea/